[submodule ".config/alacritty"]
	path = .config/alacritty
	url = https://github.com/haedarrfd/oh-my-alacritty.git
[submodule "config/starship"]
	path = config/starship
	url = https://github.com/haedarrfd/oh-my-starship.git
[submodule "config/tmux"]
	path = config/tmux
	url = https://github.com/haedarrfd/oh-my-tmux.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/haedarrfd/oh-my-tmux.git
